/* CSS Variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --text-color: #ffffff;
  --background-color: #f4f4f4;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
}

/* Header and Navigation */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  border-bottom: 2px solid var(--text-color);
}

/* Main Content */
main {
  margin-top: 4rem;
  padding: 1rem;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--secondary-color);
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 0.5rem;
}

.MathiasH2,
.MathiasH1 {
  color: #333;
}
.MathiasForm {
  margin: 20px 0;
}
label,
input {
  margin-bottom: 10px;
}

#MajaWrapper > p {
  color: rgb(245, 126, 0);
}

.body3 {
  text-align: center;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

#calcGrid {
  display: grid;
  width: 320px;
  height: 80px;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: auto;
  background-color: #4c4c4c;
  color: white;
}

.calcBtn {
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
  font-size: 40px;
}
.calcBtn:hover {
  cursor: pointer;
  background-color: #222222;
  outline: 2px solid lime;
  z-index: 5;
}